// nextflow.config

nextflow.enable.dsl = 2
// nextflow.preview.output = true

docker {
    enabled = true
}

process {
    withName: annotateMaf {
        container = 'genomenexus/gn-annotation-pipeline:dev'
        maxRetries = 3
        errorStrategy = { task.attempt <= 2 ? 'retry' : 'ignore' }
    }
}

profiles {
    test { includeConfig 'conf/test.config'}
    cirro { includeConfig 'conf/cirro.config' }
}
